.res-item {
  padding: 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &__logo {
    width: 120px;
    height: 120px;
    margin-right: 24px;
  }
  &__header {
    display: flex;
    margin-bottom: 4px;
  }
  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px;
    color: #333;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: #01839E;
      text-decoration: underline;
    }
  }
  &__categories {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  &__category {
    margin-left: 8px;
  }
  &__address {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
  }
}