@import 'src/scss/variable';
.res-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  background-color: #fff;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &--online, &--offline {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    left: 163px;
    top: 3px;
  }
  &--online {
    background: #4caf50;
  }
  &--offline {
    background: #727272;
  }
  &__logo {
    min-width: 180px;
    width: 180px;
    height: 180px;
  }
  &__header {
    display: flex;
    margin-bottom: 4px;
    width: 100%;
    justify-content: space-between;
    &--xs {
      display: none;
    }
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px;
    color: #333;
  }
  &__categories {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  &__info-line {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    .material-icons {
      font-size: 18px;
      margin-right: 8px;
    }
  }
  &__main-info {
    width: 100%;
    padding: 16px;
    width: calc(100% - 160px);
    box-sizing: border-box;
  }
}

@media #{$screen-xs} {
  .res-item {
    flex-wrap: wrap;
    &:hover {
      background: none;
    }
    &--online {
      left: 84px;
    }
    &__logo {
      width: 100px;
      height: 100px;
      min-width: 100px;
    }
    &__main-info {
      padding: 8px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.02);
    }
    &__header {
      display: none;
      &--xs {
        display: block;
        width: calc(100% - 100px);
        padding: 8px;
        box-sizing: border-box;
      }
    }
    &__name {
      margin: 0;
    }
  }
}