.restaurants-skeleton {
  background: #FFF;
  padding: 16px;
  &__page-logo {
    width: 180px;
    height: 180px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
  &__search-result {
    width: 200px;
    height: 18px;
  }
  &__actions {
    display: flex;
  }
  &__action {
    height: 34px;
    width: 220px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__item-logo {
    width: 180px;
    height: 180px;
  }
  &__item-info {
    padding: 16px;
    width: calc(100% - 180px);
    box-sizing: border-box;
  }
  &__item-header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
  }
  &__item-name {
    height: 26px;
    width: 260px;
  }
  &__item-rating {
    width: 200px;
    height: 26px;
  }
  &__item-info-line {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 8px
    }
  }
  &__item-info-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__item-info-content {
    width: 233px;
    height: 16px;
  }
}