.category {
  background-color: #55849e;
  border: 1px solid #55849e;
  color: #FFF;
  padding: 4px;
  border-radius: 2px;
  transition: all 250ms linear;
  font-size: 13px;
  text-transform: capitalize;
  display: inline-flex;
}