.checkbox {
  [type="checkbox"]:not(:checked),[type="checkbox"]:checked {
    opacity: 0;
    position: absolute;
  }
  label {
    i,span {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
      box-sizing: border-box;
      max-width: calc(100% - 24px);
    }
  }
  [type="checkbox"]:checked + label {
    .material-icons {
      color: #1a9cb7;
    }
  }
}