.checkbox {
  [type="checkbox"]:not(:checked),[type="checkbox"]:checked {
    opacity: 0;
    position: absolute;
  }
  label {
    i,span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  [type="checkbox"]:checked + label {
    .material-icons {
      color: #1a9cb7;
    }
  }
}