@import 'src/scss/variable';

html {
  overflow:auto;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #2a2a2a;
  height: 100%;
}
.page-container {
  background: #F5F5F5;
  overflow: hidden;
}
.page-body {
  margin: 0 auto;
  max-width: 980px;
  padding: 0;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  position: relative;
  // overflow: hidden;
}

/* Google Material Icons */
.material-icons {
  color: #727272;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/materialicons.woff2) format('woff2'), 
    url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.link {
  color: #1a9cb7;
  text-decoration: none;
  transition: color 0.5s linear;
  &:hover {
    color: #01839E;
    text-decoration: underline;
  }
}

